logs/*
*.toc
*.swp
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
.DS_Store
/venv/*
/data/motion_data/*
/logs/*
src/__pycache__/
*.gv
Winter.pdf
George.pdf
.polyscope.ini
data/objects/Winter/imgui.ini
data/objects/Winter/temporary.urdf
*.pdf
sources/*
src/test.py
*.pt
plots/*
